.navbar-expand-lg {
    display: flex;
}

.navbar-expand-lg #navbarNavAltMarkup {
    justify-content: end;
}

.nav-link:hover {
    color: brown !important;
}

.event-text {
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 64px;
    text-shadow: 0px 5px 5px black;
}

@media (min-width: 1440px) {
    .container-xxl {
        max-width: 1430px;
    }
}

@media (max-width: 1024px) {
    .event-text {
        font-size: 60px;
        transition: all ease-in-out .3s;
    }
}

@media (min-width: 990px) {
    .body-content {
        /* min-height: calc(100% - 310px); */
        padding: 0 0;
        position: relative;
        /* margin-bottom: 310px; */
        z-index: 1;
        background: #fff !important;
    }
}

@media (max-width: 900px) {
    .event-text {
        font-size: 55px;
        transition: all ease-in-out .3s;
    }
}


.container-xxl {
    margin: auto;
    width: 100%;
}

@media (max-width: 767px) {
    .logo img {
        height: 55px;
        width: auto;
        max-width: inherit;
        opacity: 1;
        transition: all ease-in-out .3s;
    }
    .event-text {
        font-size: 50px;
        transition: all ease-in-out .3s;
    }
}

@media (max-width: 610px) {
    .event-text {
        font-size: 40px;
        transition: all ease-in-out .3s;
    }
}

@media (max-width: 400px) {
    .event-text {
        font-size: 25px;
        transition: all ease-in-out .3s;
    }
}

@media (min-width: 1280px) {
    .wrapper {
        position: relative;
        z-index: 9;
        display: flex;
        flex-flow: column;
    }
}

@media (max-width: 768px) {
    .inner-body {
        padding-top: 71px;
    }
}

@media (min-width: 769px) {
    .inner-body {
        padding-top: 101px;
    }
}

body {
    overflow-x: hidden;
    height: 100%;
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
}

.masthead {
    position: absolute;
    top: 0px;
    bottom: 0;
}

@media (min-width: 1600px) {
    .container {
        max-width: 1430px;
    }
}

@media (min-width: 1024px) {
    .content-bg {
        background-position: left top, right bottom;
        background-repeat: no-repeat, no-repeat;
        margin-top: -2%;
        position: relative;
        box-shadow: 0px 0px 10px 0px #495057;
        z-index: 1;
        border-radius: 24px;
        margin-bottom: 20px;
    }
}

.content-bg {
    background-image: url(https://www.ndmconsortium.com/src/images/bg-circle-graphic.jpg), url(https://www.ndmconsortium.com/src/images/bg-circle-graphic-bt.jpg);
    background-position: left top, right bottom;
    background-repeat: no-repeat, no-repeat;
}

.container .title {
    text-align: center;
    margin: auto;
    font-weight: bold;
    font-size: 22px;
    padding-bottom: 20px;
    color: #454545;
}

.container .title-border {
    width: 33%;
    border-bottom: 2px solid gray;
    margin: auto;
}

.container .organizer-title {
    text-align: center;
    margin: auto;
    width: 100%;
    font-style: italic;
    font-size: 16px;
    letter-spacing: 1px;
    color: #4b4b4b;
}

.container .content-body {
    width: 100%;
    background: #ededed;
    transition: .3s ease-in-out;
    margin-top: 12px;
    border-radius: 16px;
    box-shadow: inset 0 0 20px 0px gray;
}

.speaker {
    height: 600px;
    max-width: 365px;
    min-width: 165px;
    width: 40%;
    margin: 10px;
}

.speakers-container {
    padding: 15px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

@media (max-width: 1590px) {
    .speakers-container {
        padding: 15px;
        display: flex;
        flex-flow: column;
        justify-content: center;
        transition: all ease-in-out .3s;
    }
    .speaker {
        align-self: center;
        transition: all ease-in-out .3s;
    }
}

.speaker img {
    height: 300px;
    width: 300px;
    transition: all ease-in-out .3s;
}

@media (max-width: 400px) {
    .speaker img {
        height: 200px;
        width: 200px;
        transition: all ease-in-out .3s;
    }

    .reduce-1 {
        font-size: 20px;
        transition: all ease-in-out .3s;
    }

    .reduce-2 {
        font-size: 16px;
        transition: all ease-in-out .3s;
    }

    .reduce-3 {
        font-size: 18px;
        transition: all ease-in-out .3s;
    }
}

.reduce-3 {
    font-size: 18px;
    transition: all ease-in-out .3s;
}

.speaker-title {
    text-align: center;
}

.speaker {
    display: flex;
    flex-flow: column;
}


.footer {
    font-size: .95rem !important;
    background: #353535;
    color: rgba(255, 255, 255, .85);
}



#divFooter a {
        color: inherit; /* blue colors for links too */
        text-decoration: inherit; /* no underline */
}

#divFooter h6 {
    font-size: 18px;
}


@media (min-width: 990px) {
    #divFooter {
        position: sticky;
        bottom: 0;
    }
}

.feedback-wrapper {
    display: flex;
    justify-content: space-between;
}

.feedback {
    width: 40%;
}

.gallery {
    width: 40%;
}

@media (max-width: 990px) {
    .feedback-wrapper {
        flex-flow: column;
        transition: all ease-in-out .3s;
    }

    .feedback {
        margin: auto;
        width: 100%;
        /* text-align: center; */
        transition: all ease-in-out .3s;
    }
    
    .gallery {
        margin: auto;
        width: 100%;
        /* text-align: center; */
        transition: all ease-in-out .3s;
    }

}



.offcanvas-toggle .icon-bar+.icon-bar {
    margin-top: 4px;
}

.offcanvas-toggle .icon-bar {
    background: #000;
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    transition: all .25s ease-in-out;
}


.offcanvas-toggle {
    padding: 12px 0 12px;
    margin-top: 0;
    float: right;
    background: 0 0;
    border: 0;
    border-radius: 0;
    display: none;
    cursor: pointer;
    outline: 0 !important;
}

@media (max-width: 1199.98px) {
    .offcanvas-toggle {
        z-index: 1040;
        margin-right: 10px;
        position: relative;
        display: inline-block !important;
    }
}

/* @media (max-width: 1199px) {
    .navbar {
        display: block;
    }
}

@media (max-width: 1199px) {
    .navbar-expand-lg .navbar-collapse {
        display: inherit !important;
    }
} */

@media (max-width: 1199.98px) {
    .offcanvas-collapse {
        position: fixed;
        top: 0;
        bottom: 0;
        right: -250px;
        padding-top: 0;
        max-width: 250px;
        width: 100%;
        padding-right: 0;
        padding-left: 0;
        overflow-y: auto;
        visibility: hidden;
        background-color: #fff;
        transition-timing-function: ease-in-out;
        transition-duration: .3s;
        transition-property: right, visibility;
        z-index: 1030;
    }
}

.dropdown {
    position: static;
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.navtp {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

@media (max-width: 1199px) {
    .navbar-nav {
        margin-top: 70px;
    }
}

@media (max-width: 1199px) {
    .navbar-nav {
        flex-direction: column !important;
    }
}


@media (max-width: 1199px) {
    .navtp .nav-item {
        width: 100%;
    }
}


.navtp .nav-item {
    margin: 0 0.5rem;
}

.offcanvas-toggle .icon-bar {
    background: #000;
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    transition: all .25s ease-in-out;
}

.offcanvas-toggle .icon-bar+.icon-bar {
    margin-top: 4px;
}
.offcanvas-toggle.is-open .icon-bar:nth-child(1) {
    background: #000;
    -webkit-transform: rotate(45deg) translate(5px, 4px);
    transform: rotate(45deg) translate(5px, 4px);
}
.offcanvas-toggle.is-open .icon-bar:nth-child(2) {
    opacity: 0;
}
.offcanvas-toggle.is-open .icon-bar:nth-child(3) {
    background: #152f68;
    width: 22px;
    -webkit-transform: rotate(-45deg) translate(4px, -4px);
    transform: rotate(-45deg) translate(4px, -4px);
}

@media (max-width: 1199.98px) {
    .offcanvas-collapse.open {
        right: 0;
        visibility: visible;
    }
}


@media (max-width: 1199px) {
    .navbar-expand-lg .navbar-collapse {
        display: inherit !important;
    }
}


@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex!important;
        flex-basis: auto;
    }
}


@media (max-width: 1199.98px) {
    .offcanvas-collapse {
        position: fixed;
        top: 0;
        bottom: 0;
        right: -250px;
        padding-top: 0;
        max-width: 250px;
        width: 100%;
        padding-right: 0;
        padding-left: 0;
        overflow-y: auto;
        visibility: hidden;
        background-color: #fff;
        transition-timing-function: ease-in-out;
        transition-duration: .3s;
        transition-property: right, visibility;
        z-index: 1030;
    }
}

@media (max-width: 1199.98px) {
    .open-menu #offcanvas-overlay {
        opacity: 1;
        display: block;
        visibility: visible;
        -webkit-transition: opacity .4s 0s, visibility 0s 0s;
        -moz-transition: opacity .4s 0s, visibility 0s 0s;
        transition: opacity .4s 0s, visibility 0s 0s;
    }
}


@media (max-width: 1199.98px) {
    div#offcanvas-overlay {
        position: fixed;
        display: none;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        cursor: pointer;
        background-color: rgba(0, 0, 0, .6);
        visibility: hidden;
        opacity: 0;
        z-index: 9;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition: opacity .4s 0s, visibility 0s .4s;
        -moz-transition: opacity .4s 0s, visibility 0s .4s;
        transition: opacity .4s 0s, visibility 0s .4s;
    }
}

.navtp .nav-link:hover, .navbar-nav .nav-item.active a {
    color: #cf2025;
}

.navtp .nav-link:hover, .navbar-nav .nav-item.active {
    color: #cf2025;
}


@media (max-width: 1199px) {
    .header .nav-link {
        color: #000 !important;
    }
}


a:hover {
    color: #136db9;
    text-decoration: none;
}

.navtp .nav-link {
    color: #000;
    padding: 0 !important;
    opacity: 0.8;
}

@media (min-width: 1280px) {
    .navtp .nav-item {
        margin: 0 0.95rem;
    }
}

@media (max-width: 1199.98px) {
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        position: relative !important;
    }
}


@media (min-width: 768px) {
    .dropdown-menu {
        background: 0 0!important;
        border: 0!important;
        padding-top: 15px;
        left: auto !important;
    }
}

@media (max-width: 1199px) {
    .navbar {
        display: block;
    }
}

@media (max-width: 1199px) {
    .navbar-expand-lg .navbar-collapse {
        display: inherit !important;
    }
}

@media (max-width: 767px) {
    .navtp .nav-link {
        color: #000;
        padding-right: 1rem !important;
        padding-left: 1rem !important;
        padding-top: 0.7rem !important;
        padding-bottom: 0.7rem !important;
        font-size: 1rem;
        border-bottom: 1px solid #e9e9e9;
    }
}

@media (max-width: 1199px) {
    .navtp .nav-link {
        color: #000 !important;
        padding-right: 1rem !important;
        padding-left: 1rem !important;
        padding-top: 0.7rem !important;
        padding-bottom: 0.7rem !important;
        font-size: 1rem;
        border-bottom: 1px solid #e9e9e9;
    }
}

